h1,form,footer {text-align: center;}

body {
    margin: auto;
}

/*----------------------------------Header-------------------------------------------------*/


header div {
	position: absolute;
	right: 20px; top: 50px;
}

header img {
	position: absolute;
	top: 25px;left: 30px;
}


/*--------------------------------------Nav Bar--------------------------------------------*/

article ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

article li {
    float: left;
    
}

article li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

article li a:hover {
    background-color: #111;
    color: white;

 }   

 input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('./img/ic_search_black_24dp_1x.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

/*--------------------------------------------ARTICLE----------------------------------------------------------*/

.row {
    margin: 0 auto;
    max-width: 62.5rem;
    width: 100%;
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

h2 {
    color: #222222;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}

aside {
    display: inline-block;
}

div aside li {
        margin-top: 10px;
        margin-bottom: 1em;
        margin: 0 0 0.7rem 0;
        color: #333;
        cursor: pointer;
}

div aside ul {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.6;
}

.art {
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    position: absolute;
    display: inline-block;
    margin: 0px 0px 0px 80px;
}

/*------------------------------------------FOOTER--------------------------------------------------------------*/

.navright {
    bottom: 0px;
    width: 100%;
}

a {
    font-family: "Times New Roman", Times, sans-serif;
}

a:hover {
    color: black;
} 

.navright ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navright li {
    float: right;
    
}

.navright li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navright li a:hover {
    background-color: #111;
    color: white;

 } 