h1,form,footer {text-align: center;}

body {margin: auto;}


/*----------------------------------Header-------------------------------------------------*/


header div {
	position: absolute;
	right: 20px; top: 50px;
}

header img {
	position: absolute;
	top: 25px;left: 30px;
}


/*--------------------------------------Nav Bar--------------------------------------------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    color: white;

 }   

 input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('./img/ic_search_black_24dp_1x.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

/*--------------------------------------------ARTICLE-----------------------------------------------------------*/

div {
    position: relative;
    overflow: hidden;
    height: 800px;
}

div article {
    margin-top: 5%;
    height: 100%;
}

.caract {
    
    position: absolute;
    left:30%; top: 8%;
    width: 500px;
    background-color: yellow;
}

.listcaract li {
    text-align: left;
    height: 30px;
    display: block;
} 
/*------------------------------------------FOOTER--------------------------------------------------------------*/

.navright {
    bottom: 0px;
    width: 100%;
}

a {
    font-family: "Times New Roman", Times, sans-serif;
}

a:hover {
    color: black;
} 

.navright ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navright li {
    float: right;
    
}

.navright li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navright li a:hover {
    background-color: #111;
    color: white;

 } 