h1,form,footer {text-align: center;}

body {margin: auto;}

#article1,#article2,#article3 {background-color: white;}

#article1:target,#article2:target,#article3:target,.art1:target,.art2:target,.art3:target,.art1,.art2,.art3 { position: absolute; }

h2 { text-decoration: underline; }

/*----------------------------------Header-------------------------------------------------*/


header div {
	position: absolute;
	right: 20px; top: 50px;
}

header img {
	position: absolute;
	top: 25px;left: 30px;
}


/*--------------------------------------Nav Bar--------------------------------------------*/

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.float {
    float: left;
    
}

article li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

article li a:hover {
    background-color: #111;
    color: white;

 }   

 input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('./img/ic_search_black_24dp_1x.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

/*--------------------------------------------ARTICLE-----------------------------------------------------------*/

.arti {
    position: relative;
 }

#article1:target {  
    height: 545px; width: 100%;
    top: 0%;
    padding-top: 5%;

}

#article2:target { 
    height: 545px; width: 100%;
    top: 0%;
    padding-top: 5%;
}

#article3:target { 
    height: 545px; width: 100%;
    top:0%;
    padding-top: 5%;
}

.art1:target { 
    left: 30%; top: 5%;
    height: 95%; width: 100%;
}

.art2:target { 
    left: 30%; top: 5%;
    height: 95%; width: 100%;
}

.art3:target { 
    left: 30%; top: 5%;
    height: 95%; width: 100%;
}

.art1 {
    top: 35px; left: 30%;
    }

.art2 {
    top: 35px; left: 30%;
}

.art3 {
    top: 35px; left: 30%;
}

div article section ul li {
    margin: 5px;
}

/*------------------------------------------FOOTER--------------------------------------------------------------*/

a {
    font-family: "Times New Roman", Times, sans-serif;
}

a:hover {
    color: black;
}

.navright {
    bottom: 0px;
    width: 100%;
} 

.navright ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navright li {
    float: right;
    
}

.navright li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navright li a:hover {
    background-color: #111;
    color: white;

 } 