h1,form,footer {text-align: center;}

body {
    margin: auto;
}


/*----------------------------------Header-------------------------------------------------*/


header div {
	position: absolute;
	right: 20px; top: 50px;
}

header img {
	position: absolute;
	top: 25px;left: 30px;
}


/*--------------------------------------Nav Bar--------------------------------------------*/

article ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

article ul li {
    float: left;
    
}

article li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

article li a:hover {
    background-color: #111;
    color: white;

 }   

/*--------------------------------------search bar-------------------------------------------------------------*/

 input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('./img/ic_search_black_24dp_1x.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}



/*-----------------------------------------------SECTION--------------------------------------------------------*/

.row {
    margin: 0 auto;
max-width: 62.5rem;
width: 100%;
}

hr {
    border: solid #DDDDDD;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 1.25rem 0 1.1875rem;
    box-sizing: content-box;
}


/*------------------------------------------FOOTER--------------------------------------------------------------*/

.navright {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

a {
    font-family: "Times New Roman", Times, sans-serif;
}

a:hover {
    color: black;
} 

.navright ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navright li {
    float: right;
    
}

.navright li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navright li a:hover {
    background-color: #111;
    color: white;

 }